@import 'var.scss';
@import 'mixins.scss';

.main {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  &__bg {
    @include bg;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      @include start__button;
      transition: all 0.4s ease;
      &:hover {
        background: #484848;
        color: #eec55d;
      }
    }
  }
}
